.sidebarChat{
    color: rgb(26, 52, 82);
    font-size: 12px;
    display: flex;
    position: relative;
    padding: 20px;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 1s;
    border-bottom: 0px solid;
}

.avatar {
    z-index: 2;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 4px rgb(26, 52, 82);
    transition: 1s;
}

.avatar:hover {
    box-shadow: 0px 0px 30px 5px rgb(82, 120, 163);
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.sidebarChat:hover{
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition:0.3s;
    flex: 1;
    background-color: rgb(26, 52, 82);
    color: rgb(196, 213, 232);
    border-radius: 20px 20px 20px 20px;
}

.sidebar_inbox_details{
    white-space: nowrap;
    overflow: hidden;
    margin-left: 15px;
    margin-top: 10px;
    align-items: center;
}

a {
    text-decoration: none !important;
}